@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.bg {
  position: relative;
  background-color: #dfe2e4;
  height: 100vh;
  z-index: 0;
}
.bg-image {
  z-index: 0;
  position: absolute;
  opacity: 0.9;
  top: 15vh;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 80vh;
  margin: auto;
}
.gray-bg {
  z-index: 0;
  position: absolute;
  background-color: #e4e7e8;
  top: 0;
  left: 0;
  width: 100vw;
  clip-path: ellipse(55% 100% at 0% 70%);
  height: 100vh;
  border-radius: 0 0 0 0;
}

.main-container {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.nav-bar {
  height: 10vh;
  width: 100vw !important;
}
.content-container {
  margin-top: 8vh;
  margin-left: 4vw;
  height: auto;
}
.menus {
  font-size: 1.25vw;
}
.logo {
  margin-left: 1vw;
  width: 1.5vw;
}
.login-btn {
  display: flex;
  border: 2px solid #000;
  width: 8vw;
  text-align: center;
  border-radius: 2em;
  transition: background-color 0.5s ease, color 0.5s ease; // Add this line

  &:hover {
    cursor: pointer;
    background-color: #000;
    color: white;
  }
}
.register-btn {
  display: flex;
  border: 2px solid #000;
  background-color: #000;
  color: white;
  width: 8vw;
  text-align: center;
  border-radius: 2em;
  transition: background-color 0.5s ease, color 0.5s ease; // Add this line
  &:hover {
    cursor: pointer;
    background-color: white;
    color: #000;
  }
}
.box-content {
  width: 12vw;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .bg-image {
    display: none;
  }
  .gray-bg {
    display: none;
  }
  .nav-bar {
    display: none;
  }
}
